PORT="" # the port the api listens to
DBHOST="" # the host of the database
DBUSER="" # username for authentication to database
DBPASSWORD="" # password for authentication to database
DBNAME="" # name of the database to use
DBDIALECT="" # what kind of database are you using
JWT_SECRET="" # strong password for your jwt tokens
ENV_LOCAL="" # boolean if you're using localhost or not
