PORT="" # the port the api listens to
DBHOST="" # the host of the database
DBUSER="" # username for authentication to database
DBPASSWORD="" # password for authentication to database
DBNAME="" # name of the database to use
DBDIALECT="" # what kind of database are you using
ACCESS_TOKEN_SECRET="" # strong password for access token generation
REFRESH_TOKEN_SECRET="" # even stronger password for refresh token generation
ENV_LOCAL="" # boolean if you're using localhost or not
CLIENT_ORIGIN="" # fill only if you need to handle CORS
